.idea
.vscode

*/__pycache__/
__pycache__/
./*/__pycache__/

kernel.errors.txt
*/kernel.errors.txt

ASR/model/*
ASR/db/*
ASR/audio/*
ASR/image/*
ASR/*.txt

Test-demo/llama-cpp/*
TTS/*
download/
GPT-SoVITS-Inference
output/
OpenVoice
download/torch_hub_local/*

convert_Qwen2VL/Qwen2-VL-2B-Instruct/*