.idea
.vscode
*/__pycache__/
__pycache__/
./*/__pycache__/
ASR/model/*
ASR/db/*
ASR/audio/*
Test-demo/llama-cpp/*

TTS/*
ASR/*.txt
kernel.errors.txt
*/kernel.errors.txt
download/
GPT-SoVITS-Inference
output/
OpenVoice
