# openvino==2024.4.0
# openvino-genai==2024.4.0
# transformers==4.38.0
openvino==2024.4.1.dev20240926
openvino-genai==2024.4.1.dev20240926
transformers==4.45
optimum-intel==1.20.1
torch<2.5.0  # for nncf
torchvision<0.20
optimum[openvino]
modelscope
funasr
uvicorn
fastapi
PyAudio
sounddevice
torchaudio
screen_brightness_control
mem0ai
langchain-community
rank-bm25
chromadb
langchain-ollama
langgraph
langchain-chroma>=0.1.2
# bert_tools
colored
pygame
# tools_utils
comtypes
pycaw
wmi
pyautogui
opencv-python
qwen_vl_utils