openvino==2024.4.0
openvino-genai==2024.4.0
transformers==4.38.0
torch<2.5.0  # for nncf
optimum[openvino]
modelscope
funasr
uvicorn
fastapi
PyAudio
sounddevice
torchaudio
screen_brightness_control
mem0ai
langchain-community
rank-bm25
chromadb
langchain-ollama
langgraph
langchain-chroma>=0.1.2
pygame